<!DOCTYPE html>
<div class="ui teal dividing header">
    <h1><i class="plus icon"></i> Add Custom Sound Effect</h1>
</div>

<div class="ui simple segment" style="margin-bottom: 1.5em; padding-top: -1.5em;">
    <form id="add-sfx-form" class="ui form">
        <h5 class="ui teal dividing header">General Settings:</h5>
        <div class="two fields" style="margin-right: 0.5em; margin-left: 0.1em;">
            <label for="sfx-select"><b>Select a sound effect file:</b></label>
            <div class="eight wide field">
                <div class="ui search clearable selection dropdown" id="sfx-select" name="sfx_select">
                    <input id="sfx-dropdown" name="sfx_dropdown" type="hidden" >
                    <div class="default text">Available files...</div>
                    <i class="dropdown icon"></i>
                    
                </div>
            </div>
            <div class="eight wide field">
                <input type="file" class="folder-select" onchange="fileSelect(event)" id="file-select"
                    accept=".mp3" name="file_select">
                <label id="folder-select-btn" for="file-select" name="" class="ui teal button">Select a file from a different location...</label>
            </div>
        </div>
        <div class="inline fields">
            <div class="sixteen wide field">
                <label>Enter the sound effect trigger:</label>
                <input id="effect-trigger" type="text" name="effect_trigger" placeholder="Enter a single word used to trigger the sound effect">
            </div>
        </div>
        <div class="inline fields">
            <div class="eight wide field">
                <label>Volume:</label>
                <div class="ui teal small slider _slider" id="slider-1" style="margin-right: 0.5em"></div>
                <div class="ui input disabled">
                    <input type="text" id="slider-input-1" value="50%">
                </div>
            </div>
            <div class="eight wide field">
                <label>Sound effect cost:</label>
                <input id="effect-cost" type="number" name="effect_cost"
                    placeholder="Enter sound effect cost">
            </div>
        </div>
        <h5 class="ui teal dividing header">Sound effect chat message settings:</h5>
        <div class="field">
            <div class="ui slider checkbox">
                <label><b>Send a chat message when this effect is triggered? (optional)</b></label>
                <input id="effect-chat-check" type="checkbox" tabindex="0" class="hidden" name="effect_chat_check">
            </div>
        </div>
        <div class="inline fields">
            <div id="disabled" class="ui sixteen wide disabled readonly field">
                <label>Message to be sent:</label>
                <input id="effect-chat-msg" type="text" name="effect_chat_msg" placeholder="Chat message to be sent">
            </div>
        </div>
    </form>
</div>
<div class="actions _actions">
    <div class="ui teal button right floated" onclick="saveSFXFile()">Save sound effect</div>
    <div id="preview-sfx" class="ui teal button right floated disabled" onclick="previewSound()">Preview sound file</div>
    <div id="refresh-sfx" class="ui teal button right floated disabled"
        onclick="updateList('sfx-select', 'add-sfx-form', addSFXFormRules)"><i class="refresh icon"></i> Sync effects files
        list</div>
</div>
<script src="../src/scripts/helpMenu.js"></script>
<script src="../src/scripts/addSFX.js"></script>
<script>
    $('.slider._slider').slider({
        min: 0,
        max: 100,
        start: 50,
        step: 1,
        onMove: function() {
            var sliderPos = $(this).slider('get value')
            document.getElementById('slider-input-1').value = sliderPos + "%"
        }
    })
    //.slider('get value', function() {consle.log(value)});
    $('.ui.checkbox').checkbox({
        onChange: function () {
            var textInput = document.getElementById('disabled')
            $('.ui.checkbox').checkbox('is checked')?textInput.classList.remove('disabled'): textInput.classList.add('disabled')
        }
    })
    sfxStart()
    helpMenu()
    validateForm("#add-sfx-form", addSFXFormRules)
    $('#add-sfx-form').form('revalidate', true)
</script>