<!DOCTYPE html>
<body style="background-color: white;">
    <div class="header modal_content">
        <h1 class="ui teal dividing header">Getting Started</h1>
    </div>
    <div class="scrolling content modal_content">
        <div class="description">
            <h3>Custom SFX v2.0.0</h3>
            <ol>
                <h5 class="ui dividing teal header">
                    <li>Overview</li>
                </h5>
            
                This is a <b>Streamlabs Chatbot</b> script coded to impove viewers abilty to interact with the streamer by trigging
                multiple sound effects at once, with a unique command line.<br><br>
                The script was coded with Python while this control GUI was coded with Electron and Semantic-UI. For detailed info,
                check the <a style="cursor: default; color: #1b1c1d" onclick="loadPage('about')"><b>About</b></a> section.<br><br>
                For instructions on the script and GUI usage, check the help provided with the script or click on the button <i
                    class="circle question icon"></i> on the top bar.
                <h5 class="ui dividing teal header">
                    <li>Versioning:</li>
                </h5>
                <ul>
                    <li>Script Version: v2.0.0</li>
                    <li>Dashbodard Version: v1.0.0</li>
                </ul>
                <h5 class="ui dividing teal header">
                    <li>Requirements:</li>
                </h5>
                Below there is a compilation of the basic requirements for the script to work:
                <ul>
                    <li>Streamlabs Chatbot (last version)</li>
                    <li>Python 2.7.3</li>
                </ul>
                <h5 class="ui dividing teal header">
                    <li>Supported Operational System:</li>
                </h5>
                This script is currently supported on the Operational Systems listed below:
                <ul>
                    <li>Windows 10+</li>
                </ul>
                <h5 class="ui dividing teal header">
                    <li>Supported Streaming Platforms:</li>
                </h5>
                This script was tested and debuged on the following streaming platforms:
                <ul>
                    <li>Twitch</li>
                </ul>
            </ol>
        </div>
    </div>
    <div class="actions">
        <div id="" class="ui button teal transition" onclick='openWindow("documentation")'>Open Help</div>
        <div id="" class="ui button teal transition" onclick='openWindow("log")'>Open Logger</div>
        <div id="" class="ui positive button _teal transition">Proceed</div>
    </div>
</body>