<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <title>[Custom SFX v2.0.0] - Dashboard</title>
</head>

<body style="overflow: hidden; background-color: #1b1c1d;">
    <div id="topMenu" class="ui top fixed inverted small menu drag">
        <div class="ui thirteen column wide drag item borderless tiny header">
                <img class="ui mini image" src="../img/assets/dashboard.ico"></img> [Custom SFX v2.0.0] - Dashboard
        </div>
        <a id="help-menu" class="ui icon borderless dropdown right floated item nodrag" onclick="" tabindex="-1"><i class="circle question icon"></i></a>
        <a id="min-menu" class="item borderless nodrag" onclick="minimizeWindow()"><i class="small window minimize outline icon"></i></a>
        <a id="max-menu" class="item borderless nodrag" onclick="resizeLog()"><i id="max-icon"
                class="small window maximize outline icon"></i></a>
        <a id="close-menu" class="item borderless nodrag" onclick="closeWindow()"><i class="small window close outline icon"></i></a>
    </div>
    
    <div id="content-holder" class="ui pushable notoolbar">
        <div id="content-log" class="pusher">
            <div class="ui dividing teal header">
                <h1><i class="terminal icon"></i> Log Viewer</h1>
            </div>
            
            
            <form id="log-form" class="ui form" style="width:100%; height:90%;">
                <textarea id="logZone" rows="26" style=" resize: none;" disabled></textarea>
                <div class="actions _actions">
                    <div class="ui right floated teal button" onclick="clearLogFolder()">
                        Clear logs folder
                    </div>
                    <div id="fileList" class="ui upward floating dropdown scrolling teal button right floated">
                    <!--<div id="fileList" class="ui pointing scrolling dropdown clearable teal labeled icon button right floated">-->
                        <i id="selectBtnIcon" class="file outline icon"></i>
                        <label id="selectBtnLabel" onclick="createLogList()">Open a different log file...</label>
                        <div class="inverted menu"></div>
                    </div>
                    <div class="ui right floated teal button" onclick="reloadLog()">
                        Reload this session log file
                    </div>
                </div>
            </form>
        </div>
        
        
    </div>
    <div class="ui bottom fixed inverted tiny menu">
        <div id="selectedMenu" class="header item">Logs:</div>
        <div id="helpSelected" class="item borderless">Check the script logs</div>
    </div>
    <script src="../scripts/helpMenu.js"></script>
    <script src="../scripts/log.js"></script>
    <script src="../scripts/base.js"></script>
    <script>
        checkInstall()
        helpMenu()
        createLogList()
        loadLog()
    </script>
</body>

</html>