<!DOCTYPE html>
<body style="background-color: white;">
    <div class="header modal_content">
        <h3 class="ui red dividing header"><i class="exclamation circle icon"></i>Unable to find the required resources...</h3>
    </div>
    <div class="content modal_content">
        <div class="description">
            <b>One or more required resouces were not found on the script directory.</b><br><br> Please select one of the possible actions below to proceed!
        </div>
    </div>
    <div class="actions">
        <div id="addSFX-btn" class="ui positive button _teal transition" >Go to Add Sound Effects</div>
        <div id="scriptSettings-btn" class="ui positive button _teal transition" >Go to Script Settings</div>
    </div>
</body>
