<!DOCTYPE html>
<body style="background-color: white;">
    <div class="header modal_content">
        <h3 class="ui red dividing header"><i class="exclamation circle icon"></i>Unable to load the required
            resources...</h3>
    </div>
    <div class="content modal_content">
        <div class="description">
            <b>The required resource (sfx.json) was not found on the script directory or was not edited after creation.</b><br><br>
            Click the button below to import, create a new file, or edit the newly created file before proceeding to
            this step!
            <div class="ui inverted message">
                <div class="ui inverted dividing header">Important notice</div>
                <div class="content"><br>Rember that you need to create at least one custom sound effect before moving back to the <b>this</b> section.</div>
            </div>
        </div>
        <div class="actions">
            <div id="scriptSettings-btn" class="ui positive button _teal transition hidden right floated"
                style="margin-top: 1.0em; margin-bottom: 1.0em;">Go to Script Settings</div>
            <div id="addSFX-btn" class="ui positive button _teal transition right floated"
                style="margin-top: 1.0em; margin-bottom: 1.0em;">Go to Add Sound Effects</div>

        </div>
    </div>
</body>