<!DOCTYPE html>
<body style="background-color: white;">
    <div class="header modal_content">
        <h3 class="ui teal dividing header"><i class="info icon"></i>General script settings was saved...</h3>
    </div>
    <div class="content modal_content">
        <div class="description">
            <b>Your settings were saved succesffuly!</b><br><br>In order to make they usable, remember to to click the button <i class="undo alternate icon"></i> on Streamlabs chatbot.<br>
            The new settings will be refreshed on the GUI when closing this information window.
        </div>
    </div>
    <div class="actions">
        <div class="ui positive button _teal">OK</div>
    </div>
</body>