<!DOCTYPE html>
<body style="background-color: white;">
    <div class="header modal_content">
        <h3 class="ui teal dividing header"><i class="info icon"></i>A new custom sound effect was saved...</h3>
    </div>
    <div class="content modal_content">
        <div class="description">
            <b>Sound effect saved successfilly.</b><br><br>In order to make the saved custom sound effect created usable, remember to to click the button <i class="undo alternate icon"></i> on Streamlabs chatbot after creating all custom sound effects.<br>.
        </div>
    </div>
    <div class="actions">
        <div class="ui positive button _teal">OK</div>
    </div>
</body>